@model IEnumerable<Parsing.Models.History.HistoryRefreshPrice>

@{
    ViewBag.Title = "History";
}

<h2 style="margin-top:150px;">История обновления цен</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RefreshDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RefreshDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        
    </tr>
}

</table>
